html, 
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navbar {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlh4FTbKr2DJ32bJLxznKGO-CYlTWmIZwwGA&usqp=CAU);
    background-position: center;
}

.navbar-brand {
    color: white
}
.col1 {
    /* border: solid red 2px; */
    background-color: #EF4135;
    /* max-width: 140px;  */
    padding-top: 12px;
}

.col2 {
    /* border: solid blue 2px; */
    background-color: #003366;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 95vh;
    padding-top: 12px;
}
.col3 {
    background-color: #FFCC29;
    padding-top: 12px;
    display: flex;
}

.card.select{
    margin: 2px;
    flex: .6;
    background-color: whitesmoke;
    cursor:text

}

.card {
    background-color: rgba(234, 234, 234);
    cursor: pointer;
    max-height: 120px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: grey
}

.email-view {
    background-color: whitesmoke;
    margin: 4px;
}

.list-group {
 display: flex;
 flex-direction: column;
 background-color: rgba(234, 234, 234);
 height: 90vh;
 /* align-items: stretch; */
 margin-bottom: 10px;
 justify-content: space-evenly;
}

.list-group-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.email-view {
    display: flex;
    border-radius: 4px;
    margin: 4px;
    max-height: 500px;
    margin-bottom: 10px;
    padding: 20px;
    overflow-y: scroll;
}

.btn-compose {
    padding: 12px;
    border-radius: 4px;
    justify-content: flex-end;
}

.btn-reply {
    padding: 12px;
    border-radius: 4px;
   justify-content: flex-end;
}
